print("Welcome to your go to tip calculator app!")
print("\n")

# getting price as an input:
price = input(">>> How much is the bill? ")
price1 = float(price)
print("\n")

# getting tip percentage as an input:
tip = input(">>> How much you feel the tip percentage should be? %")
tip1 = int(tip) / 100
print("\n")

# How many people are splitting the bill as input:
people = input(">>> How many people are splitting the bill? ")
people1 = int(people)

total = price1 + price1 * tip1
total /= people1

print("\n")
print(f"Each person should pay {round(total, 2)}")
